.clear{clear:both;}
.ce{display:block;width:auto;background:#2f4056;z-index: 999;}
.ce li{border-bottom: 0px solid rgb(40,40,40);border-top: 0px solid rgb(90,90,90); }
.more{ float: right;margin-top: 15px;  }
.ce li a{padding: 0px 10px 0px 15px;color:#c8c8c8;font-size:14px;display:block;cursor:pointer;}
.ce li a:hover{background: none;color: #fff;}
.ce li a.link{height: 44px;line-height: 44px}
.ce li a.link:hover{background: #4e5465; border-left:5px solid #0082df;padding: 0px 10px 0px 10px;}
.ce li .dqian{background:none}
.ce li .xz{color: #fff;background: #4e5465;border-left:5px solid #0082df;padding: 0px 10px 0px 10px;	}
.ce li a .ico-left{float:left;font-size: 18px;margin-right: 5px;}
.ce li a span{ float: left}
.er{display:none;width:auto;background:#212d3c;}
.er li{width:100%;border-width:0px 0px 0px;}
.er li a{display:block;padding:12px 10px 12px 40px;color:#c8c8c8;background:none;font-size: 14px;}
.er .e_li a{background:url(./image/common/more.png) no-repeat right center; margin-right: 10px}
/*.ce li .xz .more{
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}*/
.er li a:hover{background:none;color: #fff;}
.er li .sen_x,.er li .sen_x:hover{background:#0082df;color: #fff;}
.er .e_li a:hover,.er .e_li .sen_x{background:#212d3c url(./image/common/more.png) no-repeat right center; margin-right: 10px}
.thr{background:#262626;display:none;}
.thr li{margin-bottom:0px;border-top: 0px solid rgb(180,180,180);position:relative;}
.er .e_li .thr li a{background:none;}
.er .e_li .thr li a:hover{background:none;color: #fff;}
.er .e_li .thr li .xuan{background:#0082df;color: #fff;}
.er .e_li .thr li .xuan:hover{background:#0082df;color: #fff;}
.more1{float: right; }
.thr_nr{width:300px;position:absolute;top:0px;left:150px;z-index:10;border:1px solid rgb(201,201,201);display:none;}
.thr_nr h3{font-weight:normal;font-size:18px;display:block;text-align:center;width:100%;padding:10px 0px;}
.thr_nr img{width:100%;position: absolute;left: 0;top: 0;z-index: 999;}
.ti {width: 29px;height:29px;float: left;padding-top: 3px;cursor: pointer;text-align: center;margin-right: 10px;margin-top:40px;margin-left:20px;background: url(./image/menu/11.png) no-repeat;}
.inpu {cursor: pointer;filter:alpha(opacity=0);-moz-opacity:0; opacity:0;width:29px;height:29px;}
.span{float:left;display:block;padding:4px 40px 0px 0px;color:#000;}
.tu1{width: 29px;height:29px;float: left;padding-top: 3px;cursor: pointer;text-align: center;margin-right: 10px;margin-top:40px;margin-left:20px;background:url(./image/menu/22.png) no-repeat;}
.span1{color:#f00;float:left;display:block;padding:4px 40px 0px 0px;}
.span2{color:#000;}























